body {
    margin: auto;
    padding: 15px;
    font-family: Helevitca, Arial, sans-serif;
    max-width: 800px;
}

#contents {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px 20px;
}

kbd,
pre {
    color: #fff;
    background: #000;
    padding: 0.2rem 0.7rem;
    border-radius: 10px;
}

th,
td {
    padding: 1rem;
}

th {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
}

.shortcut-keys {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.shortcut-description {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.input-field {
    padding: 10px 15px;
}
legend,
.input-field > label {
    font-weight: bold;
}

fieldset {
    border: 0;
}

dt,
dd {
    display: inline;
    margin: 0;
}
